@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    color: #ededed;
    background: #2F0743;
    overflow-x: hidden;
}

/* header  buttons*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #41295a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s*var(--i));
}

.navbar a:hover {
    color: #0ef;
}

/* header home buttons end */
.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-color: #2F0743;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: #0ef;
}
.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
    text-align: justify;

}
.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
}

.home-sci a:hover {
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: 2s;
    margin-right: 50px;
}

.btn-box:hover {
    border: 3px #fff solid;
    background-color: #2F0743;
    color: #0ef;
}

/* home css end */


/* about css */
.about{
    height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.about-img img{
    height: 600px;
    width: 500px;
    border-radius: 20px;
    border: 3px solid #0ef;
    margin-left: 20px;
    box-shadow: 0 0 1rem #0ef;
}
.about-text h2{
    font-size: 60px;
}
.about-text h2 span{
    color: #0ef;
}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
/* about css end */

/* skills */
section {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    flex-wrap: wrap; 
    align-items: flex-start;
}
.skill2{
    height: 100vh;
    width: 100%;
}
.section-title {
    text-align: center;
    font-size: 60px;
    color: #fff;
    width: 100%;
    margin-bottom: 2rem;
    padding-bottom: 70px;
}
.section-title span{
    color: #0ef;
}
.column {
    flex: 1;
    padding: 2rem;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 1px 1px 20px #012290f7,1px 1px 40px #0053b8f7;
}
.column:hover{
    transform: translateY(-20px);
}
#ski {
    text-align: center;
    font-size: 33px;
    margin-bottom: 1.5rem;
    color: #fff;
}
.skill {
    margin-bottom: 1.5rem;
}
.skill-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    padding: 5.3px;
}
.progress-bar {
    width: 100%;
    background-color: #ddd;
    height: 8px;
    border-radius: 4px;
}  
.progress-fill {
    height: 100%;
    background-color: #0ef;
    width: 0;
    transition: width 1s ease;
}
.education-item {
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    border-left: 3px solid #0ef;
}
.education-item p {
    font-size: 17px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
    text-align: justify;

}
.education-item h4{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
}
/* skills end */

/* services css start */
#services{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}
.sub-title span{
    color: #0ef;
}
.container{
    padding: 90px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    text-align: justify;
}
.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
                1px 1px 40px #0053b8f7;
}
.services-list div i{
    display: grid;
    font-size: 80px;
    margin-bottom: 10px;
    place-items: center;
}
.services-list div h2{
    display: grid;
    font-size: 33px;
    font-weight: 500;
    margin-bottom: 15px;
    place-items: center;
}
.services-list div a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div p{
    font-size: 15px;
}
.read{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #020f19;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}
.read:hover{
    border: 3px #fff solid;
    background-color: #2F0743;
    color: #0ef;
}
.services-list div:hover{
    transform: translateY(-30px);
}
/* services css end */


/* portfolio start */

.portfolio{
    background: #2F0743;
    height: 100vh;
    width: 100%;

}
.portfolio h2{
    margin-bottom: 1rem;
}
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #0ef;
    overflow: hidden;
    display: flex;
    width: 100%; 
    height: 340px;
}
.portfolio-box img{
    width: 100%;
    transition: .5s ease;
    opacity: 0.7;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0, 0, 0, 0.1) ,#2F0743);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0.4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}
.portfolio-layer h4{
    font-size: 2.3rem;
}
.portfolio-layer p{
    font-size: 1.4rem;
    margin: .3rem 0 1rem;
    text-align: justify;
    word-spacing: 1px;
}
.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    background: #fff;
    border-radius: 50%;
}
.portfolio-layer a i{
    font-size: 2rem;
    color:#2F0743 ;
}

.heading {
    text-align: center;
    font-size: 60px;
    color: #fff;
    width: 100%;
    margin-bottom: 2rem;
    padding-bottom: 70px;
}
.heading span{
    color: #0ef;
}
/* portfolio end */

/*  */
#test {
    text-align: center;
    font-size: 38px;
    margin-bottom: 5rem;
    color: #fff;
}
.testimonials {
    height: 50vh;
    width: 100%;
    padding: 20rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}
.testo {
    height: 50vh;
    padding: 20px;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px #012290f7,
                1px 1px 40px #0053b8f7;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.testimonials h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #fff;
}

.testimonial {
    display: none;
}

.testimonial.active {
    display: block;
}

.testimonial p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #fff;
}

.testimonial h4 {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #0ef;
}

.testimonial img {
    width: 130px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.testimonial img:hover{
    transform: scale(1.1);
}
.controls {
    margin-top: 20px;
}

.controls button {
    display: inline-block;
    padding: 14px 40px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #020f19;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    gap: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.controls button:hover {
    border: 3px #555557 solid;
    background-color: #2F0743;
    color: #0ef;
}

/* testimonial end */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* contact me */

.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 200px;
    width: 100%;
    height: 100vh;
}
.contact-text h2{
    font-size: 90px;
    line-height: 2;
    text-align: center;
}
.contact-text h2 span{
    color: #0ef;
}
.contact-text h4{
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
}
.contact-text p{
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list li a:hover{
    transform: scale(1.01) translateY(-50px);
    color: #0ef;
}
.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.contact-icons i:hover{
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}
.contact-form form{
    position: relative;
}
.contact-form i{
    margin-left: 55%;
}
.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 220px;
}
.contact-form form .send{
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #020f19;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}
.contact-form form .send:hover {
    border: 3px #555557 solid;
    background-color: #2F0743;
    color: #0ef;
}
/* last footer */
.last-text p{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(7, 85, 91);
    font-weight: 300;
    margin-top: 40px;
}
.top{
    position: fixed;
    bottom: 1.6rem;
    right: 1.6rem;
}
.top i{
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}
